body{
    background-color: rgb(18, 11, 51);

    /* body{
        background-image: url(https://cdn.pixabay.com/photo/2017/02/15/10/39/food-2068217__340.jpg);
        background-repeat: no-repeat;
        background-attachment:scroll;
        background-size: cover;
        margin-top: 50px;
        margin-right: 40px;
        margin-bottom: 10px;
        margin-left: 200px;
        border-width: thick;
        border-color: darkblue;
    
    } */


}
p{
    color: yellowgreen;
    background-color: rgb(209, 100, 37);
    
    text-align: center;
   
}